
.home .about {
    padding: 10px;
}
.home .blurb {
    padding: 10px;
}


.home .blurb p {
    font-size: 1.25em; /* 20px / 16px */
    padding: 10px;
    line-height: 1.25em;
}

.leadin {
    font-size: 1.5em; /* 20px / 16px */
}

.leadin p {
    display: inline;
}

.leadout {
    margin: 0em;
    padding: 1em 0em;
}
