<section class="newsletter text-align__center">
  <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="form" target="_blank" novalidate="">
      <h2>Signup</h2>
      <div class="form-wrapper">
          <div class="row col-xs__middle form-row">
              <div class="col-xs form-input form-input__text">
                  <label class="hidden" for="NewsletterFormEmail">Email</label>
                  <input type="email" name="EMAIL" id="NewsletterFormEmail" class="contact-form-email newsletter" placeholder="Enter your email to subscribe to our newsletter" value="" spellcheck="false" autocomplete="off" autocapitalize="off" >
              </div>
              <div class="form-action">
                  <input type="submit" class="button button__funnel" value="Signup"><br>
                  <div class="input-check-terms">
                      <a class="terms" href="/terms-and-conditions/" target="_blank">Terms &amp; Conditions</a>
                  </div>
              </div>
          </div>
      </div>
  </form></div> 
</section>