/* =======================
:: Imports files containing scss but has no scss itself
======================= */
@import '0-settings/variables';

/* =======================
:: 1-Tools and Libs
======================= */
@import '1-tools/reset';
@import '1-tools/normalise';
@import '1-tools/flexbox';

/* =======================
:: 2-Base Styles
======================= */
/* >>>>>>>>>>>>>> :: 2.1-Base <<<<<<<<<<<<<<< */
@import '2-base/base';

/* =======================
:: 3-Modules
======================= */
@import '3-modules/header';
@import '3-modules/hero';
@import '3-modules/footer';

/* =======================
:: 4-Layouts
======================= */
@import '4-layouts/home_page';
/* =======================
:: Everything after here to be refactored away from this file
======================= */

.social-icons li {
    margin: 0 0 5px;
    float: none;
    text-align: center;
    display: inline;
    position: relative;
    text-decoration: none;
}