
@media (min-width: $tablet)  {
  .artwork img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop) {
  .about div.artwork {
    float: left;
    width: 45%;
  }
  .about div.blurb {
    float: right;
    width: 45%;
  }
}