/* Header */
.header {
    background-color: $background-color;
    box-shadow: 1pc 1px 5px 0px $background-color;
    position: sticky;
    top: 0;
    width: 100%;
}

/* logo */
.logo {
    display: inline-block;
    color: $text-color;
    font-size: 1em; /* 16px / 16px */
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
}

.logo h2 {
    font-size: 2.5em; /* 12px / 16px */
    font-style: normal;
    font-weight: bold;
}

/* Nav Menu */
.nav {
    width: 50%;
    height: 30%;
    position: fixed;
    right: 0;
    background-color: $background-color;
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 5px 20px;
    color: $text-color;
    font-size: 2em; /* 32 / 16 */
}

.menu a:hover {
    background-color: $highlight-color;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 25px 20px;
} /* Style label tag */

.hamb-line {
    background: $text-color;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: $text-color;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display:none;
} /* hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: $highlight-color;
    }

    .hamb {
        display: none;
    }
}