.hero {
    background-image: url("/assets/images/tracks/track-Fudge_hero-2000x4330-02.avif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    height: 95vh;
    background-color: $background-color;
    width: 100%;
}

.hero-image {
    flex: 1 0 50%;
    flex-direction: column;
}
.hero-button {
    flex: 1 0 auto;
    flex-direction: column;
}

.hero-scrolldown {
 /*   flex: 1 1 25%;
    flex-direction: column;*/
    text-align: center;
}

.hero img {
    padding: 5%;
    align-items: flex-start;
}

.hero button {
    font-weight: bold;
    font-size: 1em; /* 16px / 16px */
    background-color: $text-color;
    border: none;
    border-radius: 8px;
    color: $background-color;
    padding: 20px 10vw;
    width: 100%;
    left: 20%;
    top: 65%;
}

.hero button:hover {
    background-color: $background-color;
    color: $text-color;
    border: 1px solid $white;
}
scrolldown {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 25%;
    display: block;
}

.scrolldown p  {
    font-family: normal 100% 'Helvetica', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}
.scrolldown ion-icon  {
    font-size: 1.5em;
    color: #aaa;
}
