.hidden {
  display: none;
}

.newsletter {
  display: block;
  background-color: $light;
  color: $dark;
  padding: 10px 15px;
}
.newsletter form {
  background-color: $light-grey;
  text-align: center;
}

.newsletter h2 {
  display: block;
  color: $dark;
  font-size: 1.5em; /* 24px / 16px */
  padding-top: 1em;
  padding-bottom: 1em;
}

.newsletter p {
  display: block;
  color: $dark;
}

.newsletter .form-wrapper {
  padding: 10px 10px 15px;
  margin-bottom: 30px;
}

.newsletter .form-wrapper input[type=email] {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: relative;
  color: #1b1b1b;
  height: 60px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  font-size: 100%;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  writing-mode: horizontal-tb !important;
  padding-block: 1px;
  padding-inline: 2px;
}

.form-action {
  box-sizing: border-box;
  text-align: center;
}

.form-row input[type=submit] {
  margin-bottom: 10px;
  font-size: 14px;
}

.button {
  background-color: $dark;
  border-color: $dark;
  color: $light;
  font-weight: 600;
  font-size: 14px;
  padding: 16px 20px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid $dark;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  transition: all .2s ease-in-out;
  margin: 0;
  width: 90%;
  letter-spacing: 1px;
  text-decoration: none !important;
}

/*
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
}

/*
.form {
  display: block;
  background-color: $light-grey;
}

.form h2 {
  color: $dark;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 200;
  font-style: normal;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.form p {
  display: block;
  color: $dark;
  text-align: center;
}
.newsletter {
  background: $light;
  color: $dark;
  padding: 10px 15px;
}

.newsletter .formm-wrapper {
  padding: 10px 30px 15px;
  background: $light-grey;
  margin-bottom: 30px;
}
.newsletter .form-wrapper>.row {
  flex-direction: column;
}

.newsletter .form-wrapper .form-row {
    display: block;
}

.row:first-child {
  margin-top: 0;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
}

.form-row {
  position: relative;
  margin-top: 20px;
}

.col-xs__middle {
  align-items: center;
}

.hidden {
  display: none;
}


.newsletter .form-wrapper .form-row .form-input input[type=email] {
  height: 60px;
  margin-bottom: 10px;
}

.newsletter .form-wrapper .form-row .form-input input {
  background-color: $light-grey;
}
.col-xs.form-input, .col-xs.form-input input[type=email] {
  width: 100%;
}

.formElement, .form-row input[type=tel], .form-row input[type=search], .form-row input[type=email], .form-row input[type=number], .form-row input[type=password], .form-row input[type=text], .form-row input[type=date], .form-row select, .form-row textarea {
  border: none;
  border-bottom: 2px solid #000;
  height: 40px;
  line-height: 40px;
  padding: 0;
  color: #1b1b1b;
  font-size: 100%;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border-radius: 0;
}

.newsletter .form-wrapper .form-row .form-action {
    box-sizing: border-box;
    text-align: center;
}
.form-action, .form-action input[type=email] {
    width: 100%;
}

.newsletter .form-wrapper .form-row .form-action input[type=submit] {
  margin-bottom: 10px;
}
html.touchevents input[type=text], html.touchevents input[type=password], html.touchevents input[type=button], html.touchevents input[type=submit], html.touchevents select, html.touchevents textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
.form-row input[type=submit] {
  font-size: 14px;
  margin-bottom: 6px;
}
.button.button__funnel, .button__funnel.shopify-challenge__button, .button-wrapper a.button__funnel {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.button, .shopify-challenge__button, .button-wrapper a {
  font-weight: 600;
  background: white;
  color: #000;
  font-size: 14px;
  padding: 16px 20px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid black;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  transition: all .2s ease-in-out;
  margin: 0;
  width: 90%;
  letter-spacing: 1px;
  text-decoration: none!important;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: Gotham-Book,sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
body, input, textarea, button, select {
  -webkit-font-smoothing: antialiased;
}
*/