.fin-Pointers {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.fin-Pointers_Headline {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.fin-Pointers_List {
    padding: 20px;
    list-style: none;
    counter-reset: list;
    margin: 0;
}

.fin-Pointer:before {
    display: inline-block;
    text-align: right;
    width: 30px;
    position: absolute;
    top: -6px;
    left: -39px;
    content: counter(list);
    font-size: 25px;
    color: $grey;
}

.fin-Pointer {
    counter-increment: list;
    /*font-size: 14px;*/
    position: relative;
    margin-bottom: 30px;
}

.fin-Pointers_SubList {
    padding: 0px 20px;
    list-style: none;
    counter-reset: sublist;
    margin: 0;
}

.fin-Pointer-sublist:before {
    display: inline-block;
    text-align: right;
    width: 30px;
    position: absolute;
    top: -6px;
    left: -39px;
    content: counter(list) "." counter(sublist);
    font-size: 25px;
    color: $grey;
}

.fin-Pointer-sublist {
    counter-increment: sublist;
    /*font-size: 14px;*/
    position: relative;
    margin-bottom: 30px;
}

.fin-Pointer_Title {
    font-weight: 600;
    /*font-size: 16px;*/
    margin-bottom: 10px;
    text-transform: uppercase;
}

.fin-Pointer_Content {
    /*font-size: .9rem;*/
    line-height: 1.6;
}



li {
    display: list-item;
}