*, *::after, *::before {
    box-sizing: border-box;
}

body {;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

p {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
}

h1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    text-align: center;
  }
  
  h2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
  }
  
  h3 {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
  }
  
  h4 {
    font-size: $font-size-h4;
    line-height: $line-height-h4;
  }
  
  h5 {
    font-size: $font-size-h5;
    line-height: $line-height-h5;
  }
  
  h6 {
    font-size: $font-size-h6;
    line-height: $line-height-h6;
  }

  blockquote {
    position: relative;
    padding: 20px 20px 20px 10px;
    margin-bottom: 0;
    margin-left: 15px;
    font-family: $heading-font-family;
    font-size: 1.125em; /* 18 / 16 */
    line-height: 28px;
    font-weight: 700;
    color: $text-color;
    border-left: 4px solid $light;
  
    &:before {
      content: '\201C';
      position: absolute;
      font-family: $heading-font-family;
      top: 0.3em;
      left: -0.01em;
      font-size: 4em;
      color: $brand-color;
    }
  
    cite {
      font-size: 16px;
      font-style: normal;
      color: $text-color;
      &:before {
        content: '\2014' '\00a0';
      }
    }
}

blockquote p {
  font-size: 1.125em;
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px dashed $link-color;
  transition: $global-transition;
  &:hover {
      color: $link-color-hover;
  }
  &:visited {
    color: $link-color;
  }
}

// is this base?
/**
 * Consistent indentation for lists.
 */

 ul, ol,
 dd {
   margin-left: $base-spacing-unit;
 }

ul {
  list-style-type: circle;
 }
 
img {
    max-width: 100%
}