*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 100%;
    font-family: $base-font-family;
    color: $text-color;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 100%;
    font-family: $heading-font-family;
    color: $text-color;
}

img {
    max-width: 100%
}