// *****************
// Global Variables
// *****************

// *****************
// @media breakpoints
// *****************
$desktop: 992px;
$tablet:  768px;
$mobile:  576px;


// *****************
// Color Variables
// *****************
$brand-color: #161616;
$dark: #161616;
$light: #fff;
$grey: #85888c;
$light-grey: #eee;
$white: #fff;
// Spelling grey gray
$gray: $grey;
$gray-blue: $grey;
$light-gray: $light-grey;

// Spaces
$base-spacing-unit: 10px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;

// Background Colors
$background-color: $dark;

// Body Color
$text-color: $light;
$highlight-color: $grey;

// Headings
$heading-font-color: $light;

// Links
$link-color: $light;
$link-color-hover: darken($grey, 15%);
$link-text-shadow: rgba(255, 193, 117, 0.8);
$link-color-inverted: $dark;

// Button
$button-color: $white;
$button-background-color: $brand-color;

// Border
$border-color: $light-grey;


// *****************
// Typography
// *****************
$base-font-size: 1em; /* 16px */
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 27px;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Lato',Segoe UI,Verdana,Arial,sans-serif;
$heading-line-height: 1.3em; 


$font-size-h1:  2.25em; /* 36 / 16 */
$line-height-h1: 2.75em; /* 44 / 16 */
$font-size-h2:  1.75em; /* 28 / 16 */
$line-height-h2: 2.25em; /* 36 / 16 */
$font-size-h3:  1.5em; /* 24 / 16 */
$line-height-h3: 2em; /* 32 / 16 */
$font-size-h4:  1.25em; /* 20 / 16 */
$line-height-h4: 1.75em; /* 28 / 16 */
$font-size-h5:  1.125em; /* 18 / 16 */
$line-height-h5: 1.625em; /* 26 / 16 */
$font-size-h6:  1em; /* 16 / 16 */
$line-height-h6: 1.5em; /* 24 / 16 */